/*!
 * Project Name: 
 * Client: Your Client
 * Author: Your Name
 * GA FEWD10, Washington, D.C.
 */


/*******************************************
 * RESET STYLES
 *******************************************/

body {
    height: 100%;
    margin: 0;
}


/* Box Model Hack */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
       -moz-box-sizing: border-box; /* Firexfox */
            box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


/*******************************************
 * BASE STYLES
 *******************************************/



/*******************************************
 * NAVIGATION
 *******************************************/


img {
    display: none;
}

nav {
  background-color: transparent;
  display: block;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
}

nav ul {
    display: inline-block;
    list-style: none;
    width: 100%;
    padding: 0 20px;
}

nav ul li {
    float: left;
    width: 33%;
    font-family: 'Muli', sans-serif;
}

nav ul li a {
    list-style: none;
    color: #fff;
}

/*******************************************
 * HERO
 *******************************************/

.container {
    font-family: 'Playfair Display', serif;
    display: block;
    position: relative;
    margin: 0;
    padding: 30px;
    height: 100vh; 
}


 .hero {
    background: #e75b4c;
    color: #fff;
    position: relative;

 }

.hero h1, h2 {
    text-align: center;
}

.work {
    background: #EBEBEB;
    color: #fff;
}




