/*!
 * Project Name: 
 * Client: Your Client
 * Author: Your Name
 * GA FEWD10, Washington, D.C.
 */


/*******************************************
 * RESET STYLES
 *******************************************/

body {
    height: 100%;
    margin: 0;
}


/* Box Model Hack */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
       -moz-box-sizing: border-box; /* Firexfox */
            box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


/*******************************************
 * BASE STYLES
 *******************************************/



/*******************************************
 * NAVIGATION
 *******************************************/


img {
    display: none;
}

nav {
    font-family: 'Muli', sans-serif;
    background-color: green;
    display: block;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
}

nav ul {
    display: inline-block;
    list-style: none;
    width: 100%;
    padding: 15px 20px;
}

nav ul li {
    float: left;
    width: 33%;
}

nav ul li a {
    list-style: none;
    color: #fff;
}

/*******************************************
 * HERO
 *******************************************/

.container {
    font-family: 'Playfair Display', serif;
    display: block;
    position: relative;
/*    margin: 0;
    padding: 30px;
    height: 100vh; 
    */
}

 .hero {
    background: #e75b4c;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /*center*/
    flex-direction: column;
 }

.hero h1 {
  font-size: 3.5em;
}

.hero h2 {
  font-size: 1.5em;
}

.down-arrow {
  font-size: 3em;
  color: #fff;
  text-decoration: none;

  position: absolute;
  bottom: 20px;
  left:50%;
  margin-left: -18px;
}

/*******************************************
 * WORK
 *******************************************/



 .work {
    background: #ebebeb;
}

.flex-container {
  padding: 45px 10px;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #e75b4c;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 20px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}



