/*!
 * Project Name: 
 * Client: Your Client
 * Author: Your Name
 * GA FEWD10, Washington, D.C.
 */


/*******************************************
 * RESET STYLES
 *******************************************/

body {
    height: 100%;
    margin: 0;
}


/* Box Model Hack */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
       -moz-box-sizing: border-box; /* Firexfox */
            box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


/*******************************************
 * BASE STYLES
 *******************************************/




/*******************************************
 * NAVIGATION
 *******************************************/


img {
    display: none;
}

nav {
font-family: "Lato",sans-serif;
background-color: transparent;
letter-spacing: 2px;
text-transform: uppercase;
position: absolute;
width: 100%;
height: 65px;
z-index: 1;
font-size: 0.7em;
}

nav ul {
    display: inline-flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 5px 30px 5px 5px;
}

nav ul li a {
color: #FFF;
text-decoration: none;
border-bottom: 1px solid;
padding-bottom: 6px;
}

/************************
 * NAV MEDIA QUERIES 
 ************************/

/* High DPI */

@media only screen and (min-width: 480px) {

  img {
    display: block;
    position: fixed;
    background:transparent;
    top: .5em;
    left: 1em;
    width: 32px;
    z-index: 99;
    width: 75px;
    height: 75px;
    webkit-filter: invert(100%);
    -o-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
  }

  nav {
    position: fixed;
    top: 1em;

  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }
 
}

@media only screen and (min-width: 960px) {

  img {
    top: 1em;
    left: 2em;
  }

  nav {
    top: 1.5em;
    font-size: 0.8em;
  }
}


/*******************************************
*LINK HEADINGS STYLES
*******************************************/

.back p {
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 5px;
}

.back p a {
    color: #E75B4C;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 6px;
}

/*******************************************
 * HERO
 *******************************************/

.container {
    font-family: 'Playfair Display', serif;
    display: block;
    position: relative;

}

 .hero {
    background: #e75b4c;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /*center*/
    flex-direction: column;
 }

.hero h1 {
  font-size: 2.75em;
  margin-left: 1.75em;
  margin-bottom: 0.1em;
}

.hero h2 {
  font-size: 1.5em;
  color: #E9E6E6;
  margin-left: 1.4em;
  font-style: italic;
}

.down-arrow {
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  left:50%;
  margin-left: -18px;
}

/************************
 * HERO MEDIA QUERIES 
 ************************/

@media only screen and (min-width: 425px) {
  .hero h1 {
    margin: 0em;
  }

  .hero h2 {
    margin: 0em;
  }
  
}

@media only screen and (min-width: 480px) {
  .hero h1 {
    width: 100%;
    padding: 0 1em;
    
  }
  
  .hero h2 {
    width: 100%;
    padding: .75em 1.73em;
  }

}

@media only screen and (min-width: 768px) {
  .hero h1 {
    font-size: 4em;
    padding-left: .6em;
  }
  
  .hero h2 {
    font-size: 2em;
    padding-left: 1.2em;
    padding-top: .2em;
  }
}


/*******************************************
 * WORK
 *******************************************/



.fundraising {
    background: #E9E6E6;
    padding: 0px;

}

.fundraising h2 {
  margin-top: 0px;
  padding: 1em 0em 0em;
  text-align: center;
  color: #5E5E5E;
  text-transform: uppercase;
}

.other h2 {
  margin-top: 0px;
  padding: 1em 0em 0em;
  text-align: center;
  color: #3A539B;
  text-transform: uppercase;
}



.flex-container {
  padding: 45px 10px;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
  
}

.flex-item {
  background: #e75b4c;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 20px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.fancyimg {
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    background-position: center;
}
}



